<section>
    <div class="k-button-group text-right mb-4-5">
        <button type="button"
                *ngIf="!readonly && !canDelete && hasRightTo?.Raroccollateraladd"
                class="k-button k-success-outline"
                (click)="onAddClicked()">
            <span i18n>{{ 'raroc_detail_collateral.add' | translate }}</span>
        </button>
        <button type="button"
                *ngIf="!readonly && canDelete && hasRightTo?.Raroccollateraldelete"
                class="k-button k-danger-outline"
                (click)="onDeleteClicked()">
            <span i18n>{{ 'raroc_detail_collateral.delete' | translate }}</span>
        </button>
        <button type="button"
                *ngIf="hasAnyProduct && hasRightTo?.Rarocproductcollateralmatrix"
                class="k-button"
                (click)="showRarocProductCollateralMatrix()">
            <span i18n>{{ 'raroc_detail_collateral.product_collateral_matrix' | translate }}</span>
        </button>
    </div>

    <div *ngIf="view$"
         kendoTooltip
         #kendoTooltipInstance="kendoTooltip"
         showOn="none"
         [tooltipTemplate]="template"
         filter=".k-grid th, .k-grid td"
         (mouseover)="showTooltip($event, kendoTooltipInstance)">
        <kendo-grid [data]="view$ | async"
                    [loading]="view$.loading"
                    [pageSize]="state.take"
                    [skip]="state.skip"
                    [sort]="state.sort"
                    [sortable]="{ allowUnsort: false, mode: 'single' }"
                    [pageable]="{ buttonCount:5, pageSizes:[10,20,50,100] }"
                    [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
                    [resizable]="false"
                    [kendoGridSelectBy]="'Id'"
                    [selectedKeys]="selection"
                    [rowClass]="getRowClass"
                    (dataStateChange)="onGridDataStateChange($event)"
                    (selectedKeysChange)="onGridSelectedKeysChange($event)"
                    (cellClick)="onGridCellClicked($event)"
                    class="k-grid--clickable">
            <kendo-grid-checkbox-column *ngIf="!readonly" width="85" title="{{ 'raroc_detail_collateral.select' | translate }}" i18n-title [hidden]="!hasRightTo?.Raroccollateraldelete"></kendo-grid-checkbox-column>
            <kendo-grid-column field="Title" title="{{ 'raroc_detail_collateral.name' | translate }}" i18n-title>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{ dataItem.Title }}</span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="TypeDescription" title="{{ 'raroc_detail_collateral.collateral_type' | translate }}" i18n-title></kendo-grid-column>
            <kendo-grid-column field="SubTypeDescription" title="{{ 'raroc_detail_collateral.collateral_subtype' | translate }}" i18n-title></kendo-grid-column>
            <kendo-grid-column width="80" field="CurrencyId" title="{{ 'raroc_detail_collateral.currency' | translate }}" i18n-title>
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.CurrencyId | codebookLookup:'currency'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="160" field="PledgeValue" title="{{ 'raroc_detail_collateral.pledge_value' | translate }}" class="column-align-right" format="{0:n0}" i18n-title></kendo-grid-column>
            <kendo-grid-column width="100" field="RecoveryRateStandard" title="{{ 'raroc_detail_collateral.jh' | translate }}" class="column-align-right" format="{0:n0}" i18n-title></kendo-grid-column>
            <kendo-grid-column width="150" field="CollateralValue" title="{{ 'raroc_detail_collateral.belay_value' | translate }}" class="column-align-right" format="{0:n0}" i18n-title></kendo-grid-column>
        </kendo-grid>
    </div>
    <ng-template #template let-anchor>
        <span>{{ anchor.nativeElement.innerText }}</span>
    </ng-template>
</section>
