<div id="root" [class.internet-explorer]="isIE" [class.not-internet-explorer]="!isIE">
    <template #dialogContainer>
    </template>
    <app-notification-area></app-notification-area>
    <app-spinner [visible]="progress.isVisible"></app-spinner><!--spinner should be placed over dialogs-->

    <div *ngIf="!loading || loadingErr"
         id="left-pane"
         class="left-pane"
         [ngClass]="leftPaneBackground"
         [class.expanded]="leftMenuExpanded"
         [class.collapsed]="!leftMenuExpanded">
        <div id="logo" (click)="leftMenuExpanded=!leftMenuExpanded" role="img"></div>
        <app-navigation [versionInfo]="versionInfo"></app-navigation>
    </div>

    <ng-container *ngIf="!loading">
        <div id="center-pane" class="center-pane">
            <div class="center-pane__header">
                <app-header [hideParty]="hidePartyInHeader"></app-header>
            </div>
            <div class="center-pane__body">
                <div class="center-pane__content">
                    <router-outlet (activate)="onRouterActivate($event)"></router-outlet>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
        <div id="loader">
            <!-- cannot be localized -->
            <h2>Probíhá přihlašování...<br />Logging in...</h2>
            <div *ngIf="loadingErr" class="alert alert-warning warning">{{loadingErr}}</div>
            <div class="img" role="img" *ngIf="!loadingErr"></div>
        </div>
    </ng-container>
    <div id="footer">
    </div>
</div>
