<table class="calendar-table table-responsive month-calendar">
    <thead>
        <tr>
            <ng-container *ngFor="let item of month.headers">
                <th>{{item.date | date:'EEEE'}}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of month.weeks">
            <td *ngFor="let day of week.days" [class.selectedMonth]="day.selectedMonth" [class.notSelectedMonth]="!day.selectedMonth" [ngClass]="getHolidayClass(day?.date)">
                <div class="day" [title]="day.date | date:'mediumDate'">
                    <ng-container *ngIf="day.selectedMonth">
                        <div class="dow">
                            <a href="#" (click)="onDayClicked(day.date)">{{day.date | date:'d'}}</a>
                        </div>
                        <app-dashboard-item [items]="day.items"
                                            [dashboardTypes]="dashboardTypes"
                                            (eventClicked)="eventClicked.emit($event)"></app-dashboard-item>
                    </ng-container>
                </div>
            </td>
        </tr>
    </tbody>
</table>
